<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style-index.css" />
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='style-index.css')}}">
    <title>Home</title>
</head>
<body>
    <div class="container">
    <h1>Oral Cavity Cancer Predictor</h1>
    <p>Upload Image to detect oral cancer</p>

<!--    <form method='POST' action="/application" enctype='multipart/form-data'>-->
<!--        {{form.hidden_tag()}}-->
<!--        {{form.file()}}-->
<!--        {{form.submit()}}-->
<!--    </form>-->
        <form id="upload-form" method="POST" action="/application" enctype="multipart/form-data">
            <label for="file" font-size:20 px text-align:center class = "click"> CLICK HERE ! </label>
            <input type="file" id="file" name="file">
            <span id="file-name"></span>

            <input type="submit" value="Upload" class="uploadblock">
            <div id="progress-bar" class="hidden">
                <div id="progress" class="progress"></div>
            </div>
            <div id="upload-message"></div>
        </form>
    </div>
</body>
</html>